{% load static %}

<div class="text-center py-4">
    <div class="custom-pagination">
        {% if page.has_previous %}
        <a class="prev" href="?page={{ page.previous_page_number }}">Previous</a>
        {% else %}
        <a class="prev">Previous</a>
        {% endif %}

        <a class="active">{{ forloop.counter }}{{ page.number }}</a>

        {% if page.has_next %}
        <a class="next" href="?page={{ page.next_page_number }}">Next</a>
        {% else %}
        <a class="next">Next</a>
        {% endif %}
    </div>
  </div>
