{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %}Share a post{% endblock %}

{% block content %}

<div class="container " data-aos="fade-up">
<div class="row justify-content-center mt-5">
    {% if sent %}
    <div class="alert alert-success" role="alert">
        <h5 class="comment-title">E-mail successfully sent</h5>
        <p>"{{ post.title }}" was successfully sent by e-mail.</p>
    </div>
    {% else %}
    <div class="col-lg-12">
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 mb-3">
                <label for="comment-name">Name</label>
                <input type="text" class="form-control" id="comment-name" name="name" placeholder="Enter your name" >
            </div>
            <div class="col-lg-6 mb-3">
                <label for="comment-email">Sender's Email</label>
                <input type="email" class="form-control" id="comment-email" placeholder="Enter your email" name="email" >
            </div>
            <div class="col-lg-6 mb-3">
                <label for="comment-email">Receiver's Email</label>
                <input type="email" class="form-control" id="comment-email" placeholder="Enter Receiver's Email" name="email" >
            </div>
            <div class="col-12 mb-3">
                <label for="comment-message">Comment</label>
                <textarea class="form-control" id="comment-message" placeholder="Enter your message" cols="30" rows="10" name="body"></textarea>
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Send e-mail">
            </div>
        </div>
    </form>
    </div>
</div>
    {% endif %}
</div>
{% endblock %}
